.notification-unread {
    /* background-color: #f6f9fc; */
    background-color: #f0f4f8;
}

/* .list-group-notification
{
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
    padding-left: 0;
} */

.list-group-notification-action:hover,
.list-group-notification-action:focus
{
    text-decoration: none;

    color: #525f7f;
    /* background-color: #f6f9fc; */
}

.list-group-notification {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    /* background-color: #fff; */
}

.notification-read {
    background-color: #fff;
}

.scroll-dropdown {
    max-height: 395px;
    height: auto;
    overflow-x: hidden;

}

